.app {
  background-image: url("./Pattern.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
}

@media screen and (max-width: 1160px) {
  .card__wrapper {
    flex-basis: 45%;
    margin-right: 20px !important;
    margin-bottom: 20px;
  }
  .cards__wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .card__wrapper {
    margin-right: 0px !important;
  }
}
